@import url('header.css');
@import url('main.css');
@import url('nav.css');
@import url('page-destinos.css');
@import url('page-sobre.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
  background-color: #0b0f19;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

main{
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
}